<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/index.js" type="module"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav-input">
        <div class="utils">
          <input type="text" class="title" placeholder="标题" />
          <input type="text" class="autho" placeholder="发布人" />
          <input type="date" class="date" />
          <button class="add">新增</button>
        </div>
      </div>
      <table>
        <!-- <tr>
          <th>序号</th>
          <th>标题</th>
          <th>发布人</th>
          <th>发布时间</th>
          <th>操作</th>
        </tr>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button class="dele"></button>
            <button class="editor"></button>
          </td>
        </tr> -->
      </table>
      <div class="card">
        <div>
          <label class="toolbar">书名</label
          ><input type="text" class="inp book" />
        </div>
        <div class="middle">
          <label class="toolbar"> 作者</label
          ><input type="text" class="inp autho" />
        </div>
				<div>
          <label class="toolbar"> 日期</label
          ><input type="date" class="input date" />
        </div>
				<div>
        <button class="foot-btn adds">更新</button>
        <button class="foot-btn close">取消</button> 
        </div>
				</div>
		<div class="mask"></div>
  </body>
</html>
